.detail-container {
    width: 100%;
    height: 500px;
    /* background-color: blue; */
}

.detail-header {
    position: relative;
    /* width: 100%; */
    height: 250px;
    /* background-color: yellow; */
    overflow: hidden;
    padding: 40px 200px;
}

.detail-img {
    float: left;
    width: 30%;
    height: 100%;
    /* background-color: rgb(136, 255, 0); */
}

.detail-img img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.detail-course {
    float: left;
    width: 70%;
    height: 100%;
    /* background-color: blueviolet; */
}

.detail-course p {
    color: var(--Gray-3, #828282);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.detail-course h2, h3 {
    margin: 0;
}


.detail-title {
    margin-bottom: 30px;
}

.detail-button {
    position: relative;
    /* width: 100%; */
    overflow: hidden;
}


.clear {
    clear: both;
}

@media (max-width: 800px) {
    .detail-container {
        flex-direction: column;
    }

    .description {
        flex-direction: column;
    }
}