.menu-class {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background: url(./images/asian.png) lightgray no-repeat; */
  background-size: cover;
}


.header-bg {
  width: 100%;
  overflow: hidden;
}

.header-bg img {
  width: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #E0E0E0;
  padding: 20px 70px;
}

.description h1 {
  margin: 16;
  color: var(--Primary, #5B4947);
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.description p {
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 50px 90px;
}

.menu h1 {
  text-align: center;
  color: var(--Primary, #5B4947);
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}

@media (max-width: 800px) {
  .menu-class {
    flex-direction: column;
  }

  .description {
    flex-direction: column;
  }
}